!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>


     <h1><span class="diffont">Z</span>henya's Page</h1>



    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Habitant morbi tristique senectus et. Cras sed felis eget velit aliquet sagittis. Varius sit amet
        mattis vulputate enim nulla. Varius morbi enim nunc faucibus a pellentesque sit. Tristique senectus et netus et
        malesuada fames ac turpis egestas. Vitae turpis massa sed elementum tempus egestas sed sed. Ut enim blandit
        volutpat maecenas volutpat. Congue eu consequat ac felis donec et odio. Tempor id eu nisl nunc mi ipsum
        faucibus. Donec ultrices tincidunt arcu non sodales neque sodales ut. Eget felis eget nunc lobortis mattis. Sit
        amet nisl suscipit adipiscing bibendum est ultricies. Vel turpis nunc eget lorem dolor sed viverra. Enim diam
        vulputate ut pharetra sit. Sociis natoque penatibus et magnis. Tincidunt vitae semper quis lectus nulla.

       <p>

        Nisi lacus sed viverra tellus in. Ante metus dictum at tempor. Cursus in hac habitasse platea dictumst. Purus in
        massa tempor nec feugiat nisl. Rhoncus dolor purus non enim praesent elementum. Nunc mi ipsum faucibus vitae
        aliquet. Etiam tempor orci eu lobortis elementum. Hendrerit gravida rutrum quisque non. Urna duis convallis
        convallis tellus id. Pellentesque sit amet porttitor eget dolor morbi. Quam elementum pulvinar etiam non quam
        lacus suspendisse faucibus. Id donec ultrices tincidunt arcu non sodales neque sodales ut. Eget dolor morbi non
        arcu risus quis varius quam. Libero justo laoreet sit amet cursus sit amet dictum sit. Dictumst vestibulum
        rhoncus est pellentesque elit. Quisque non tellus orci ac. Sem fringilla ut morbi tincidunt augue. Pellentesque
        id nibh tortor id.

     <p>
        A diam sollicitudin tempor id. Mauris nunc congue nisi vitae suscipit tellus. Sit amet est placerat in egestas
        erat imperdiet sed euismod. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Enim nunc
        faucibus a pellentesque sit amet. Accumsan sit amet nulla facilisi morbi. Gravida dictum fusce ut placerat orci
        nulla pellentesque dignissim enim. Lectus sit amet est placerat. Bibendum enim facilisis gravida neque convallis
        a cras semper. Tempor orci eu lobortis elementum nibh tellus. Pretium aenean pharetra magna ac placerat
        vestibulum lectus mauris. Auctor augue mauris augue neque gravida in fermentum.

    </p>

    <p>
        Molestie ac feugiat sed lectus vestibulum. Sit amet justo donec enim diam vulputate ut pharetra sit. Donec ac
        odio tempor orci dapibus ultrices. Orci sagittis eu volutpat odio facilisis mauris sit. Congue nisi vitae
        suscipit tellus mauris a diam maecenas sed. Faucibus pulvinar elementum integer enim neque volutpat. Gravida
        quis blandit turpis cursus in hac habitasse platea. Consequat semper viverra nam libero justo laoreet sit amet.
        Cum sociis natoque penatibus et. Dui id ornare arcu odio ut. Dictum sit amet justo donec enim. Imperdiet dui
        accumsan sit amet nulla facilisi. Augue interdum velit euismod in pellentesque massa placerat duis ultricies.
        Diam sit amet nisl suscipit adipiscing bibendum. Nec sagittis aliquam malesuada bibendum arcu vitae elementum
        curabitur vitae. Condimentum mattis pellentesque id nibh tortor id aliquet. Aliquet eget sit amet tellus cras
        adipiscing enim eu.

     </p>

    <p>

        Odio tempor orci dapibus ultrices in iaculis nunc sed. Aliquet lectus proin nibh nisl condimentum id venenatis.
        Quis viverra nibh cras pulvinar mattis. At consectetur lorem donec massa sapien faucibus et molestie ac. Tellus
        id interdum velit laoreet id donec. Commodo odio aenean sed adipiscing diam donec adipiscing. In massa tempor
        nec feugiat nisl pretium fusce. Sit amet volutpat consequat mauris nunc. Pellentesque habitant morbi tristique
        senectus et netus et. Et netus et malesuada fames ac. Risus nec feugiat in fermentum posuere urna nec tincidunt
        praesent. Eu volutpat odio facilisis mauris sit amet massa. Libero enim sed faucibus turpis. Elit sed vulputate
        mi sit amet mauris. Porttitor leo a diam sollicitudin tempor id eu nisl. In fermentum posuere urna nec tincidunt
        praesent semper.
    </p>

</div>
</body>
</html>
